    <nav class="navbar box-shadow">
        <div class="container flex-space">
            <div class="title">
                <h1>Where is the countries ?</h1>
            </div>
            <ng-container *ngIf="theme$ | async as theme">
                <div *ngIf="theme === 'light'"  class="switcher" (click)="toggleMode()">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                    <span>Dark mode</span>
                </div>
                <div *ngIf="theme === 'dark'"  class="switcher" (click)="toggleMode()">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                    <span>Light mode</span>
                </div>
            </ng-container>
            
        </div>
       
    </nav>
