
@import '../../../responsive';
@import '../../../responsive';


.countries {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}

.notFound {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include xl {
        flex-direction: row;
    }

    app-filter {
        text-align: right;
        margin-top: 10px;
        @include xl {
            margin-top: 0;
        }
    }
}