$font-size-homepage : 14px;
$font-size-detail: 16px;
$font-normal : 300;
$font-medium : 600;
$font-bold :  800;
$font-family:"Nunito Sans";

$light-element-bg : hsl(0, 0%, 100%);
$light-main-bg :  hsl(0, 2%, 91%);
$light-txt : hsl(200, 15%, 8%);
$light-input:hsl(0, 0%, 52%);
$light-shadow : hsl(0, 1%, 78%);

$dark-element-bg :hsl(209, 23%, 22%);
  $dark--main-bg : hsl(207, 26%, 17%);
  $dark--txt : hsl(0, 0%, 100%);
  $dark--input:hsl(209, 23%, 22%);
  $dark--shadow : hsl(209, 25%, 23%);